{
  "openapi": "3.0.0",
  "info": {
    "title": "Roundtable API",
    "description": "API for retrieving behavioral biometrics and session replay data",
    "version": "v0.0",
    "contact": {
      "email": "support@roundtable.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.roundtable.ai",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/v0.0/sessions/{sessionId}/report": {
      "get": {
        "summary": "Retrieve data for a specific session",
        "description": "Get detailed user actions, failed checks, and session replay link for a specific session ID",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique session identifier (found in session storage as rtSessionId)"
          }
        ],
        "responses": {
          "200": {
            "description": "Session data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "Unique identifier for the session",
                      "example": "abc123def456"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "User identifier provided during script initialization (if any)",
                      "example": "user-456"
                    },
                    "user_logs": {
                      "type": "array",
                      "description": "Chronological list of user actions recorded during the session",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "Description of the user action",
                            "example": "Navigated to /dashboard"
                          },
                          "user_time": {
                            "type": "string",
                            "description": "Human-readable timestamp in user's local timezone",
                            "example": "Mar 25, 2025 14:30:50"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds",
                            "example": 1743055850000
                          }
                        }
                      },
                      "example": [
                        {
                          "action": "Signed in",
                          "user_time": "Mar 25, 2025 14:30:45",
                          "timestamp": 1743055845000
                        },
                        {
                          "action": "Navigated to /dashboard",
                          "user_time": "Mar 25, 2025 14:30:50",
                          "timestamp": 1743055850000
                        },
                        {
                          "action": "Updated credit card",
                          "user_time": "Mar 25, 2025 14:32:15",
                          "timestamp": 1743055935000
                        }
                      ]
                    },
                    "failed_checks": {
                      "type": "array",
                      "description": "List of behavioral anomalies detected during the session",
                      "items": {
                        "type": "object",
                        "properties": {
                          "check": {
                            "type": "string",
                            "description": "Description of the failed check",
                            "example": "Unnatural mouse movement"
                          },
                          "user_time": {
                            "type": "string",
                            "description": "Human-readable timestamp in user's local timezone",
                            "example": "Mar 25, 2025 14:31:05"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds",
                            "example": 1743055865000
                          }
                        }
                      },
                      "example": [
                        {
                          "check": "Unnatural mouse movement",
                          "user_time": "Mar 25, 2025 14:31:05",
                          "timestamp": 1743055865000
                        },
                        {
                          "check": "Suspicious copy-paste activity",
                          "user_time": "Mar 25, 2025 14:31:30",
                          "timestamp": 1743055890000
                        }
                      ]
                    },
                    "session_replay": {
                      "type": "object",
                      "description": "Information about the session replay recording",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "URL to view the session replay",
                          "example": "https://app.roundtable.ai/replay/abc123def456"
                        },
                        "duration_seconds": {
                          "type": "integer",
                          "description": "Total duration of the session in seconds",
                          "example": 142
                        }
                      },
                      "required": [
                        "url"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0.0/users/{userId}/sessions": {
      "get": {
        "summary": "Retrieve recent sessions for a specific user",
        "description": "Get the 100 most recent sessions for a specific user ID, including user actions, failed checks, and session replay links for each session",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique user identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "User sessions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "description": "The user identifier",
                      "example": "user-456"
                    },
                    "sessions": {
                      "type": "array",
                      "description": "List of session data",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "description": "Unique identifier for the session",
                            "example": "abc123def456"
                          },
                          "start_time": {
                            "type": "string",
                            "description": "Human-readable timestamp of session start",
                            "example": "Mar 25, 2025 14:30:45"
                          },
                          "start_timestamp": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds of session start",
                            "example": 1743055845000
                          },
                          "user_logs": {
                            "type": "array",
                            "description": "Chronological list of user actions recorded during the session",
                            "items": {
                              "type": "object",
                              "properties": {
                                "action": {
                                  "type": "string",
                                  "description": "Description of the user action",
                                  "example": "Navigated to /dashboard"
                                },
                                "user_time": {
                                  "type": "string",
                                  "description": "Human-readable timestamp in user's local timezone",
                                  "example": "Mar 25, 2025 14:30:50"
                                },
                                "timestamp": {
                                  "type": "integer",
                                  "description": "Unix timestamp in milliseconds",
                                  "example": 1743055850000
                                }
                              }
                            }
                          },
                          "failed_checks": {
                            "type": "array",
                            "description": "List of behavioral anomalies detected during the session",
                            "items": {
                              "type": "object",
                              "properties": {
                                "check": {
                                  "type": "string",
                                  "description": "Description of the failed check",
                                  "example": "Unnatural mouse movement"
                                },
                                "user_time": {
                                  "type": "string",
                                  "description": "Human-readable timestamp in user's local timezone",
                                  "example": "Mar 25, 2025 14:31:05"
                                },
                                "timestamp": {
                                  "type": "integer",
                                  "description": "Unix timestamp in milliseconds",
                                  "example": 1743055865000
                                }
                              }
                            }
                          },
                          "session_replay": {
                            "type": "object",
                            "description": "Information about the session replay recording",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL to view the session replay",
                                "example": "https://app.roundtable.ai/replay/abc123def456"
                              },
                              "duration_seconds": {
                                "type": "integer",
                                "description": "Total duration of the session in seconds",
                                "example": 142
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserAction": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "Description of the user action",
            "example": "Navigated to /dashboard"
          },
          "user_time": {
            "type": "string",
            "description": "Human-readable timestamp in user's local timezone",
            "example": "Mar 25, 2025 14:30:50"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds",
            "example": 1743055850000
          }
        }
      },
      "FailedCheck": {
        "type": "object",
        "properties": {
          "check": {
            "type": "string",
            "description": "Description of the failed check",
            "example": "Unnatural mouse movement"
          },
          "user_time": {
            "type": "string",
            "description": "Human-readable timestamp in user's local timezone",
            "example": "Mar 25, 2025 14:31:05"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds",
            "example": 1743055865000
          }
        }
      },
      "SessionReplay": {
        "type": "object",
        "description": "Information about the session replay recording",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to view the session replay",
            "example": "https://app.roundtable.ai/replay/abc123def456"
          },
          "duration_seconds": {
            "type": "integer",
            "description": "Total duration of the session in seconds",
            "example": 142
          }
        },
        "required": [
          "url"
        ]
      },
      "DeviceInfo": {
        "type": "object",
        "description": "Information about the user's device and environment",
        "properties": {
          "browser": {
            "type": "string",
            "description": "Browser name and version",
            "example": "Chrome 120.0.0"
          },
          "os": {
            "type": "string",
            "description": "Operating system",
            "example": "Windows 11"
          },
          "screen_resolution": {
            "type": "string",
            "description": "Screen resolution",
            "example": "1920x1080"
          },
          "timezone": {
            "type": "string",
            "description": "User's timezone",
            "example": "America/New_York"
          },
          "language": {
            "type": "string",
            "description": "Browser language",
            "example": "en-US"
          }
        }
      },
      "SessionSummary": {
        "type": "object",
        "description": "Summary information about a session",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique identifier for the session",
            "example": "abc123def456"
          },
          "start_time": {
            "type": "string",
            "description": "Human-readable timestamp of session start",
            "example": "Mar 25, 2025 14:30:45"
          },
          "start_timestamp": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds of session start",
            "example": 1743055845000
          },
          "duration_seconds": {
            "type": "integer",
            "description": "Total duration of the session in seconds",
            "example": 142
          },
          "action_count": {
            "type": "integer",
            "description": "Number of user actions in the session",
            "example": 47
          },
          "failed_check_count": {
            "type": "integer",
            "description": "Number of failed checks in the session",
            "example": 2
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use your private API key as the bearer token"
      }
    },
    "parameters": {
      "SessionIdParam": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The unique session identifier (found in session storage as rtSessionId)"
      },
      "UserIdParam": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The unique user identifier"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "sessions",
      "description": "Operations related to session data"
    },
    {
      "name": "users",
      "description": "Operations related to user data"
    }
  ],
  "externalDocs": {
    "description": "Roundtable Documentation",
    "url": "https://docs.roundtable.ai"
  }
}